{% extends "layout.html" %} {% block body %}

<script src="static/js/jquery-3.2.1.min.js">
    $(document).ready(function() {
        $("").click(function() {
            var url = $(this).attr("href");
            $("#seccion").load(url);

        });
    });
</script>

<div class="row">
    <div class="col-md-3" id="seccion">
        <div class="card card-body" id="selector">
            <form action="">
                <div class="form-group">
                    <a href="formulario_factura" class="form-control btn btn-primary">Formulario Factura y proveedor</a>
                </div>
                <div class="form-group">
                    <a href="formulario_componente" class="form-control btn btn-primary">Registro de Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert" class="form-control btn btn-primary">Registrar un MERT</a>
                </div>
                <div class="form-group">
                    <a href="qa_mert" class="form-control btn btn-primary">Quality Assurance MERT</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert_produccion" class="form-control btn btn-primary">Registrar MERT a Producción</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar_componentes" class="form-control btn btn-primary">Mostar Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar" class="form-control btn btn-primary">Mostrar equipos MERT</a>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-5 col-md-7">
        <h3 class="card-header">Equipos MERT en Inventario</h3>
        <div class="card-body">
            <form action="/formulario_mostrar_componentes" method="POST">
                <table class="table table-striped table-hover table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <td>Serial</td>
                            <td>Nombre Componente</td>
                            <td>Fecha QA</td>
                            <td>Estado de Disponibilidad</td>
                            <td>Configuración</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in datos %}
                        <tr>
                            <td>{{dato.0}}</td>
                            <td>{{dato.1}}</td>
                            <td>{{dato.3}}</td>
                            <td>{{dato.8}}</td>
                            <td>
                                <a href="/" class="btn btn-secondary">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {% endblock %}