{% extends "layout.html" %} {% block body %}

<script src="static/js/jquery-3.2.1.min.js">
    $(document).ready(function() {
        $("").click(function() {
            var url = $(this).attr("href");
            $("#seccion").load(url);

        });
    });
</script>

<div class="row">
    <div class="col-md-3" id="seccion">
        <div class="card card-body" id="selector">
            <form action="">
                <div class="form-group">
                    <a href="formulario_factura" class="form-control btn btn-primary">Formulario Factura y proveedor</a>
                </div>
                <div class="form-group">
                    <a href="formulario_componente" class="form-control btn btn-primary">Registro de Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert" class="form-control btn btn-primary">Registrar un MERT</a>
                </div>
                <div class="form-group">
                    <a href="qa_mert" class="form-control btn btn-primary">Quality Assurance MERT</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert_produccion" class="form-control btn btn-primary">Registrar MERT a Producción</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar_componentes" class="form-control btn btn-primary">Mostar Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar" class="form-control btn btn-primary">Mostrar equipos MERT</a>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-5 col-md-7">
        <h3 class="card-header">Sistema de Inventario Para MERT</h3>
        <div class="card-body">
            <h5 class="card-title">Una APP de NetAxion Chile SPA</h5>
            <h6 class="card-subtitle text-muted">NetAxion Chile SPA</h6>
        </div>
        <img style="height: 300px; width:725px; display: block;" src="https://cdn.pixabay.com/photo/2016/06/09/20/38/woman-1446557_1280.jpg" alt="Card image">
        <div class="card-body">
            <p class="card-text">¿Problemas con la aplicación?</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Comunicar Problema a Correo de Contacto</li>
            <li class="list-group-item">mfernandez@netaxion.cl</li>
        </ul>
        <strong class="container">
            <div class="card-footer text-muted ">
                <script>
                    var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                    var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                    var f = new Date();
                    document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                </script>
        </strong>
    </div>
</div>



{% endblock %}