{% extends "layout.html" %} {% block body %}

<div class="row">
    <div class="col-md-3" id="seccion">
        <div class="card card-body" id="selector">
            <form action="">
                <div class="form-group">
                    <a href="formulario_factura" class="form-control btn btn-primary">Formulario Factura y proveedor</a>
                </div>
                <div class="form-group">
                    <a href="formulario_componente" class="form-control btn btn-primary">Registro de Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert" class="form-control btn btn-primary">Registrar un MERT</a>
                </div>
                <div class="form-group">
                    <a href="qa_mert" class="form-control btn btn-primary">Quality Assurance MERT</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mert_produccion" class="form-control btn btn-primary">Registrar MERT a Producción</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar_componentes" class="form-control btn btn-primary">Mostar Componentes</a>
                </div>
                <div class="form-group">
                    <a href="formulario_mostrar" class="form-control btn btn-primary">Mostrar equipos MERT</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card card-body">
            <form action="/form_qa_mert" method="POST">
                <h2>Quality Assurance Equipo MERT</h2>
                <br>
                <strong>
                <h4>Datos del Componente:</h4>
            </strong>
                <div class="form-group">
                    <br><br>
                    <strong>Numero de serial</strong>
                    <input type="number" name="serial" placeholder="número de serial" class=" form-control" required>
                </div>
                <div class="form-group">
                    <strong>¿El MERT, Presenta Fallas?</strong>
                    <br>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="radio" class="custom-control-input" checked="" value="1">
                            <label class="custom-control-label" for="customRadio1">Se encuentra óptimo</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="radio" class="custom-control-input" value="0">
                            <label class="custom-control-label" for="customRadio2">Presenta Fallas</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <br>
                        <strong>Fecha de Revisión</strong>
                        <input type="date" name="fecha_factura" placeholder="" class=" form-control" required>
                    </div>
                    <div class="container form-group row">
                        <div>
                            <button type="submit" class="btn btn-success">
                        Guardar
                    </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    {% endblock %}